<div class="ab-content-inner">
  <a href="single.html"><img src="{{url}}" alt="news image" class="img-fluid"></a>
  <div class="ab-info-con">
    <h4> {{title}}</h4>
    <a href="single.html" class="read-more two btn m-0 px-3"><span class="fa fa-long-arrow-right">
      </span></a>
  </div>
</div>