<div class="team-img" *ngIf="source.reverseImage">
  <img src="{{source.image}}" alt="news image" class="img-fluid">
</div>
<div class="team-info">
  <h4><a [routerLink]="['/single']">{{source.title}}</a></h4>
  <small>{{source.date}}</small>
  <p>{{source.content}}</p>
  <a [routerLink]="['/single']" class="read-more two btn m-0 px-3">
    <span class="fa fa-long-arrow-right"></span>
  </a>
</div>
<div class="team-img" *ngIf="!source.reverseImage">
  <img src="{{source.image}}" alt="news image" class="img-fluid">
</div>