<app-header></app-header>

<div class="main-content" id="home">
  <div class="overlay">
    <!-- //header -->
    <div class="container">
      <!-- /banner -->
      <div class="banner-info text-left">
        <h3>Liter your hearts and minds</h3>
        <p class="my-3">Pellentesque maximus Pellentesque libero justo Nulla uter sollicitudin velit.Morbi viverra lacus
          commodo felis.</p>
        <div class="read-more-button">
          <a href="single.html" class="read-more scroll btn">Read More </a> </div>
      </div>

    </div>
    <!-- //banner -->
  </div>
</div>

<!--// mian-content -->
<!-- //about -->
<section class="banner-bottom py-5">
  <div class="container py-md-5">
    <div class="row banner-grids mb-lg-5">


      <div class="col-lg-7 content-right">
        <h3 class="title-w3pvt">About of Yoga Lite Lite</h3>
        <h4>We will help to find health, to everyone.</h4>
        <p class="mt-2 text-left">Integer pulvinar leo id viverra feugiat.Sed porttitor orci vel fermentum elit maximus.
          Curabitur ut turpis massa in condimentum libero.Lorem Ipsum has been the industry's standard since the 1500s.
          Praesent ullamcorper dui turpis. </p>
        <p class="mt-2 text-left">Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui
          turpis. </p>
        <div class="row stats text-left mt-5">
          <div class="col-lg-4 counter">
            <span class="fa fa-users"></span>
            <div class="counter-info">
              <h5>7200+</h5>
              <p>Members</p>

            </div>
          </div>
          <div class="col-lg-4 counter two">
            <span class="fa fa-user-md"></span>
            <div class="counter-info">
              <h5>1150+</h5>
              <p>Classes</p>

            </div>
          </div>
          <div class="col-lg-4 counter">
            <span class="fa fa-diamond"></span>
            <div class="counter-info">
              <h5>65+</h5>
              <p>Experience</p>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 content-left">
        <img src="/assets/images/ab.jpg" alt="" class="img-fluid">
      </div>

    </div>

  </div>
</section>
<!-- /about -->
<!-- /services -->
<section class="services py-5">
  <div class="container py-md-5">
    <div class="row ab-info">
      <div class="col-lg-6 ab-content text-left pr-lg-5">
        <h3 class="title-w3pvt">What Your Looking for?</h3>
        <h5>Nulla uter sollicitudin velit</h5>
        <p><strong class="text-capitalize"> Pellentesque libero justo, semper at tempus vel, ultrices in sed ligula.
            Nulla uter sollicitudin velit.</strong>Lorem Ipsum has been the industry's standard since the 1500s.
          Praesent ullamcorper dui turpis.Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem,
          at molestie arcu pulvinar ut. </p>
      </div>
      <div class="col-lg-3 ab-content" *ngFor="let item of data">
        <app-card [title]="item.title" [url]="item.image"></app-card>
      </div>
    </div>
  </div>
</section>
<!-- /services -->

<!-- /last-content -->
<section class="last-content py-5">

  <div class="container text-center py-md-5">
    <div class="last-w3pvt-inner-content row">

      <div class="col-md-6">

        <form action="#" class="booking" method="post">
          <h3 class="mb-4">Make a Appointment</h3>
          <div class="form-group">
            <input placeholder="Your Name" name="name" type="text" required="">
            <input placeholder="Contact Number" name="number" type="text" required="">
            <input placeholder="Address" type="text" required="">
            <input placeholder="Timing" type="text" required="">
            <button class="book-appo btn mt-3">Quick Appointment </button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</section>
<!-- //last-content -->
<!-- /team-content -->
<section class="team-content py-5" id="team">
  <div class="container py-md-5">
    <h3 class="title-w3pvt text-center mb-5">Latest Events</h3>
    <div class="row team-grids text-left mt-md-5 mt-4">

      <div class="col-lg-4 team-main p-0" *ngFor="let item of eventData">
        <app-event-card [source]="item"></app-event-card>
      </div>
      
    </div>
  </div>
</section>
<!-- //team-content -->
<!--/testimonials -->
<section class="testimonials py-5" id="testimonials">
  <div class="container py-md-5">
    <div class="header text-center">
      <h3 class="title-w3pvt two mb-lg-5 mb-4"> Client Reviews<span>.</span></h3>
    </div>
    <div class="row">
      <div class="col-lg-4 test-info text-left">
        <p><span class="fa fa-quote-left"></span> Lorem Ipsum has been the industry's standard since the 1500s. Praesent
          ullamcorper dui turpis.Nulla non laoreet eleifend. <span class="fa fa-quote-right"></span></p>
        <div class="test-img text-right mb-3">
          <img src="/assets/images/te2.jpg" class="img-fluid" alt="user-image">
        </div>
        <h3 class="my-md-2 my-3 text-right">Jenifer Burns</h3>

        <ul class="list-unstyled w3layouts-icons clients text-right">
          <li>
            <a href="#">
              <span class="fa fa-star"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-star"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-star"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-star-half-o"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 test-info text-left">
        <p><span class="fa fa-quote-left"></span> Lorem Ipsum has been the industry's standard since the 1500s. Praesent
          ullamcorper dui turpis.Nulla non laoreet eleifend. <span class="fa fa-quote-right"></span></p>

        <div class="test-img text-right mb-3">
          <img src="/assets/images/te3.jpg" class="img-fluid" alt="user-image">
        </div>
        <h3 class="my-md-2 my-3 text-right"> Abraham Smith</h3>

        <ul class="list-unstyled w3layouts-icons clients text-right">
          <li>
            <a href="#">
              <span class="fa fa-star"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-star"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-star"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-star-half-o"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 test-info text-left">
        <p><span class="fa fa-quote-left"></span> Lorem Ipsum has been the industry's standard since the 1500s. Praesent
          ullamcorper dui turpis.Nulla non laoreet eleifend. <span class="fa fa-quote-right"></span></p>

        <div class="test-img text-right mb-3">
          <img src="/assets/images/te1.jpg" class="img-fluid" alt="user-image">
        </div>
        <h3 class="my-md-2 my-3 text-right">Jenifer Burns</h3>

        <ul class="list-unstyled w3layouts-icons clients text-right">
          <li>
            <a href="#">
              <span class="fa fa-star"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-star"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-star"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa fa-star-half-o"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--//testimonials -->
<!-- footer -->
<footer class="footer-content py-5">
  <div class="container-fluid py-lg-5 inner-sec-w3ls">
    <div class="row">
      <div class="col-lg-4 footer-top mt-md-0 mt-sm-5 pr-lg-5">
        <h2>
          <a class="navbar-brand" [routerLink]="['/']">
            <span class="fa fa-yoast"></span>oga Lite</a>
        </h2>
        <p class="my-3">Donec consequat sam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
          minus</p>

      </div>
      <div class="col-lg-3 mt-md-0 mt-5">
        <div class="footer-w3pvt">
          <h3 class="mb-3 w3pvt_title">Navigation</h3>
          <hr>
          <div class="row">
            <ul class="col-6 list-info-w3pvt links">

              <li>
                <a href="events.html">
                  Home
                </a>
              </li>
              <li>
                <a href="about.html">
                  About Us
                </a>
              </li>
              <li>
                <a href="events.html">
                  Events
                </a>
              </li>
              <li>
                <a href="services.html">
                  Services
                </a>
              </li>
              <li>
                <a [routerLink]="['/contact']">
                  Contact Us
                </a>
              </li>

            </ul>
            <ul class="col-6 list-info-w3pvt links">
              <li>
                <a href="about.html">
                  Our Mission
                </a>
              </li>
              <li>
                <a href="events.html">
                  Latest Posts
                </a>
              </li>
              <li>
                <a href="#">
                  Explore
                </a>
              </li>
              <li>
                <a [routerLink]="['/contact']">
                  Find us
                </a>
              </li>
              <li>
                <a href="events.html">
                  Privacy Policy
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>

      <div class="col-lg-2 mt-lg-0 mt-5">
        <div class="footer-w3pvt">
          <h3 class="mb-3 w3pvt_title">Contact Us</h3>
          <hr>
          <div class="last-w3layouts-contact">
            <p>
              <a href="mailto:example@email.com">info@example.com</a>
            </p>
          </div>
          <div class="last-w3layouts-contact my-2">
            <p>+ 456 123 7890</p>
          </div>
          <div class="last-w3layouts-contact">
            <p>+ 90 nsequursu dsdesdc,
              <br>xxx Honey State 049436.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mt-lg-0 mt-5">
        <div class="footer-w3pvt">
          <h3 class="mb-3 w3pvt_title">Stay up to date</h3>
          <hr>
          <div class="footer-text">
            <p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
            <form action="#" method="post">
              <input type="email" name="Email" placeholder="Enter your email..." required="">
              <button class="btn1 btn"><span class="fa fa-paper-plane-o" aria-hidden="true"></span></button>
            </form>
          </div>
        </div>

      </div>
    </div>

  </div>
</footer>
<!-- //footer -->
<div class="copy-right py-2">
  <div class="container-fluid inner-sec-w3ls">
    <div class="row">
      <div class="col-lg-6 copy-w3pvt">
        <p class="copy-right-grids text-li text-left my-sm-4 my-4">© 2019 Yoga Lite. All Rights Reserved | Design by
          <a href="http://w3layouts.com/"> W3layouts </a>
        </p>
      </div>
      <div class="col-lg-5 w3layouts-footer text-right">
        <ul class="social_section_1info">
          <li class="mb-2 facebook"><a href="#"><span class="fa fa-facebook"></span> facebook</a></li>
          <li class="mb-2 twitter"><a href="#"><span class="fa fa-twitter"></span> twitter</a></li>
          <li class="google"><a href="#"><span class="fa fa-google-plus"></span> google</a></li>
          <li class="linkedin"><a href="#"><span class="fa fa-linkedin"></span> linkedin</a></li>
        </ul>
      </div>
      <div class="move-top col-1"><a href="#home" class="move-top"> <span class="fa fa-angle-up"
            aria-hidden="true"></span></a></div>
    </div>
    <!-- //footer bottom -->
  </div>
</div>